<footer class="text-center fixed-bottom bg-dark text-white py-4">

    <p class="fs-4 mb-0">Built by Eduardo Sanchez</p>
    <a href="https://eduardosanchez.us/" title="Eduardo Sanchez" target="_blank" class="text-success hover-text-green fs-4">https://eduardosanchez.us/</a>
    <p></p>
    <p class="fs-5 mb-0 ">
      Original Design Inspired by MayanWolfe
      <a  href="https://www.twitch.tv/mayanwolfe" title="#100Devs" target="_blank" class="text-success hover-text-green">
        #100Devs
      </a>
  </footer>