<footer class="text-center sticky-bottom bg-dark text-white py-4">

    <p class="fs-4 mb-0">Built by Eduardo Sanchez</p>
    
    
    <a href="https://eduardosanchez.us/" title="Eduardo Sanchez" target="_blank" class="text-success hover-text-green fs-4">https://eduardosanchez.us/</a>
    <li><a href="https://twitter.com/Eduard0Sanchez" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>								
								<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.linkedin.com/in/eduardo-sanchez-01818060/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
    <p></p>
    <p class="fs-3 mb-0 ">
      Original Design Inspired by MayanWolfe
      <a  href="https://www.twitch.tv/mayanwolfe" title="#100Devs" target="_blank" class="text-success hover-text-green">
        #100Devs
      </a>
      
  </footer>